.MainComponent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainComponent__image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.MainComponent__slider {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.MainComponent__slider h1 {
  color: #0d4271;
}

.MainComponent__slider p {
  color: gray;
}

.MainComponent__slider .slick-dots {
  bottom: -20px;
}

.MainComponent__slider .slick-dots li button:before {
  font-size: 15px;
}

.MainComponent__button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.MainComponent__button a {
  text-decoration: none;
  color: #ffffff;
}

.MainComponent__button a:hover {
  color: #0d4271;
  background: none;
}

.MainComponent__button a {
  padding: 15px 50px;
  background: #0d4271;
  border: 2px solid #0d4271;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.VPNComponent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VPNComponent__title {
  margin-bottom: 20px;
  color: #0d4271;
}

.VPNComponent__label_disconnected {
  display: flex;
  align-items: center;
  border: 1px solid #979ba4;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: #979ba4;
}

.VPNComponent__label_disconnected .circle {
  width: 10px;
  height: 10px;
  background: #9ba1ad;
  border-radius: 15px;
  margin-left: 10px;
}

.VPNComponent__label_connected {
  display: flex;
  align-items: center;
  border: 1px solid #4CAF50;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: #4CAF50;;
}

.VPNComponent__label_connected .circle {
  background: #4CAF50;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  margin-left: 10px;
}

.VPNComponent__image {
  margin-top: 50px;
  margin-bottom: 50px;
}

.VPNComponent__button button {
  padding: 15px 50px;
  background: #0d4271;
  border: 2px solid #0d4271;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.VPNComponent__button button:hover {
  background: none;
  color: #0d4271;
}
